
body {
    min-height: 100%;
    height: 100%;

    background-size: cover;
}

.highlight {
    font-weight: bold;
    font-size: 1.5em;
}

.draggable {
    -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}